@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700-light: hsla(245, 19%, 35%, 0.322);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
  --family: "Inconsolata", monospace;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
  --weight-800: 800;
}
body {
  background-image: url(images/pattern-circle.svg),
    url(images/pattern-lines.svg), url(images/pattern-squiggly-line-top.svg),
    url(images/pattern-squiggly-line-bottom-desktop.svg),
    url(images/pattern-circle.svg), url(images/background-desktop.png);

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top -5% left 3%, center, right top 7%, bottom left -15%,
    center right 20%, right center;
  background-size: 8%, cover, 30%, 60%, 10%, cover;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  font-family: var(--family);
  color: white;
  margin: 1rem auto;
}
header img {
  margin: 0.2em 7rem 2rem;
  max-width: 30%;
}
.header-text {
  margin: 0.4rem 2rem 3rem;
  & p {
    color: var(--Neutral-500);
    font-weight: var(--weight-500);
    font-size: 20px;
  }
}
h1 {
  font-weight: var(--weight-800);
  font-size: 35px;
  text-align: center;
  max-width: 30pc;
  line-height: 1.2em;
}
h1:has(+ p) {
  margin: 0.9rem;
}

.drag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  border: 2px dashed var(--Neutral-500);
  background-color: var(--Neutral-700-light);
  border-radius: 1em;
  max-width: fit-content;
  padding: 0.5rem 6rem;
  margin: 0.7em 0;
  & label {
    cursor: pointer;
  }
}
.upload-avatar-info {
  color: var(--Neutral-300);
  text-transform: capitalize;
}
.upload-warning-info span {
  color: var(--Neutral-500);
}
input[type="file"] {
  opacity: 0;
}
p:empty {
  display: none;
}
.drag:has(img) > img {
  background-color: var(--Neutral-700);
  width: fit-content;
  border-radius: 0.5em;
  padding: 0.8em 0.2.3em;
}
